.sampul {
  width: 100px;
}

.table>tbody>tr>* {
  vertical-align: middle;
}

.navbar {
  background: linear-gradient(45deg, #ffffff, #e5f0ff, #d4e6ff, #b9d7ff, #d4e6ff, #e5f0ff, #ffffff);
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  color: black;
  /* Default color */
  /* Add any other styles you want */
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: blue;
  /* Color when hovered or clicked */
}

.nav-link.active {
  color: blue;
  /* Color for active link */
}

.home {
  padding: 5rem 2rem;
}

.gradient-text-welcome {
  background: linear-gradient(#000000, #010d5d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.text-perpusku {
  color: #5465d9;
  font-weight: bold;
}

.btn-jelajah {
  background-color: #374cde;
  color: #ffffff;
  border: none;
}

.home-image {
  position: absolute;
  right: 0;
  top: 4rem;
  width: 450px;
  height: 450px;
}

