.sampul {
  width: 100px;
}

.table > tbody > tr > * {
  vertical-align: middle;
}

.bg-belakang {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* Mengambil tinggi penuh dari viewport */
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; /* Menyelaraskan konten vertikal di tengah */
  justify-content: center; /* Menyelaraskan konten horizontal di tengah */
}

.navbar {
  background: linear-gradient(45deg, #ffffff, #e5f0ff, #d4e6ff, #b9d7ff, #d4e6ff, #e5f0ff, #ffffff);
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  color: black;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: blue;
}

.nav-link.active {
  color: blue;
}

.home {
  padding: 5rem 2rem;
}

.gradient-text-welcome {
  background: linear-gradient(#000000, #031794);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.text-perpusku {
  color: #5465d9;
  font-weight: bold;
}

.btn-jelajah {
  background-color: #374cde;
  color: #ffffff;
  border: none;
}

.home-image {
  position: absolute;
  right: 0;
  top: 4rem;
  width: 450px;
  height: 450px;
}

.label {
  padding-top: 60px;
}

.icon-link img {
  margin-right: 10px;
}

.form-control {
  background: transparent;
  border: 2px solid rgb(150, 190, 206);
}

.btn-contact {
  padding: 12px 32px;
  background: #374cde;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #919ef5;
  font-size: 16px;
  color: rgb(3, 3, 3);
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 15x;
  transition: 0.5s, box-shadow 0.5s;
  margin-bottom: 20px;
}

.btn-contact:hover {
  background: #4d63ee;
  box-shadow: 0 0 20px #4d63ee;
}

.gradient-text-contact {
  background: linear-gradient(#000000, #031794);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.text-muted a {
  color: rgb(7, 7, 7);
  text-decoration: none;
}

.text-muted a:hover {
  color: rgb(148, 178, 243);
}

.plain-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.plain-link {
  color: inherit;
  text-decoration: none;
}
.form-control-add {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #7282ee;
  border-radius: 4px;
}
.btn-addform {
  padding: 8px 8px;
  background: #374cde;
  border: none;
  outline: none;
  border-radius: 18px;
  box-shadow: 0 0 10px #919ef5;
  font-size: 16px;
  color: rgb(252, 251, 251);
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 15x;
  margin-bottom: 2px;
  margin-right: 25px;
  text-align: center;
}
.btn-addform:hover {
  background: #4d63ee;
  box-shadow: 0 0 20px #4d63ee;
}

.btn-add {
  padding: 8px 8px;
  background: #374cde;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 10px #919ef5;
  font-size: 16px;
  color: rgb(252, 251, 251);
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 15x;
  transition: 0.5s, box-shadow 0.5s;
  margin-bottom: 20px;
}

.btn-add:hover {
  background: #4d63ee;
  box-shadow: 0 0 20px #4d63ee;
}

.btn-back {
  padding: 10px 20px;
  background: #374cde;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 10px #919ef5;
  font-size: 16px;
  color: rgb(252, 251, 251);
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 15x;
  margin-bottom: 20px;
  margin-right: 25px;
}

.gradient-text {
  background: linear-gradient(#000000, #031794);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 55px;
}

.card-kartu {
  border: 2px solid #7282ee;
  border-radius: 5px;
}

.form-control-edit {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #7282ee;
  border-radius: 4px;
}

.custom-file-input {
  display: none;
}
.custom-file-label,
.custom-file-label-edit {
  width: 100%;
  border: 1px solid #7282ee;
  padding: 5px 5px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}

.edit {
  padding-top: 50px;
}
.btn-edit {
  position: absolute;
  top: 100%;
  right: 57%;
  width: 80px;
  padding: 8px 8px;
  background: #374cde;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 10px #919ef5;
  font-size: 16px;
  color: rgb(252, 251, 251);
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.5s, box-shadow 0.5s;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-edit:hover {
  background: #4d63ee;
  box-shadow: 0 0 20px #4d63ee;
}

.btn-edit-back {
  position: absolute;
  top: 100%;
  right: 66%;
  width: 80px; /* Atur lebar tombol */
  padding: 8px 8px;
  background: #374cde;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 10px #919ef5;
  font-size: 16px;
  color: rgb(252, 251, 251);
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.5s, box-shadow 0.5s;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
